body {
    background: white;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

p {
    margin-bottom: 1.6em;
}

.container{
    width: 100%;
    margin: 0 auto;
    

}

.layout {
    padding: 1rem;
    width: 100%;


    display: flex;
    gap: 16px;

    justify-content: center;
}

.layout img{
    width: 250px;  
    height: 250px;
    border-style: solid;
}
.layout2 {
    padding: 1rem;
    width: 100%;


    display: flex;
    gap: 16px;

    justify-content: center;
}

.layout2 img{
    width: 250px;  
    height: 250px;
}

.layout2 h3{
    margin-top: -2rem;
    text-align: center;
}

.layout2 p{
    margin-top: -2rem;
    text-align: center;
    line-height: 2.5em;
}

.header{
    background: #3a3a3a;
    color: white;
    padding: 0.2em 0;

    position: relative;
    left: 0;
    top: 0;
    right: 0;
}

    .header a {
        color: white;
        text-decoration: none;

    }

.logo-nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.4em 0;
    
}

.logo {
    margin-left: 184px;
}

.menu-icon {
    display: none;

}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.navigation ul li {
    display: inline-block;

}

.navigation ul li a {
    display: block;
    padding: 0.2rem 0.5rem;
    transition: all 0.2s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background: #585858;
}


.footer {
    background: gray;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6re;
    color: white;
}

@media only screen and (max-width: 767px) {
    
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.2rem 0;
    }
    
    .navigation {
       width: 100%;
       margin-top: 1rem;
    }

    .navigation ul {
        display: none;
    }

    .navigation ul.show {
        display: block;
    }

    .navigation ul li {
        display: block;
    }
    
    .navigation ul li a {
        display: block;
        padding: 0.2rem 0;
        transition: all 0.2s linear;
        border-radius: 5px;
    }

    .navigation ul li a:hover{
        background: #14281D;
    }

    .layout {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

